.card {
  background-color: white;
  border-radius: 16px;
  transition: border-color var(--transition-base), box-shadow var(--transition-base);
  width: 100%;
}

.default {
  background-color: white;
}

.bordered {
  border: 1px solid var(--color-gray-200);
}

.elevated {
  box-shadow: var(--shadow-lg);
}

.padding-none {
  padding: 0;
}

.padding-sm {
  padding: var(--spacing-md);
}

.padding-md {
  padding: var(--spacing-lg);
}

.padding-lg {
  padding: var(--spacing-xl);
}
